# switch caps_lock to be control
xmodmap -e "clear lock"
xmodmap -e "add control = Caps_Lock"

# swap alt and apple key
xmodmap -e "keycode 64 = Super_L"
xmodmap -e "keycode 133 = Alt_L"

# nohup xscreensaver -no-splash &

xrdb -merge ~/.Xresources

xloadimage -onroot -fit  /home/gjones/Dropbox/desktop_backgrounds/elevator_charles\ \(1\).jpg

vmware-user &
