xmodmap -e "remove Lock = Caps_Lock"
xmodmap -e "keysym Caps_Lock = Control_L"
xmodmap -e "add Control = Control_L"

nohup xscreensaver -no-splash &

xrdb -merge ~/.Xresources

xloadimage -onroot -fit  /home/gjones/Dropbox/desktop_backgrounds/commodore.jpg
